<footer th:fragment="myfooter" class="footer">
    <div class="footer">
        <h4> 2024 ClipShare | <a href="">Terms of Service </a>  | <a href=""> Privacy Policy </a> </h4>
    </div>
</footer>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <footer>
        <div class="footer">
            <h4> 2024 ClipShare | <a href="">Terms of Service </a>  | <a href=""> Privacy Policy </a> </h4>
        </div>
    </footer>

</body>
</html> -->