<div th:fragment="myheader" style="background-color: cadetblue; text-align: center; display: grid;">
    <div class="header">
        <header>
            <h2>ClipShare</h2>
        </header>
    </div>
    <div class="link_div">
        <div>
            <nav class="nav">
                <a th:href="@{/}">Home</a>
                <a th:href="@{/collection}">Trending</a>
                <a th:href="@{/collection}">Categories</a>
                <a th:href="@{/collection}">Upload</a>
                <a th:href="@{/collection}">Contact</a>
                <a th:href="@{/collection}">Reels</a>

            </nav>
        </div>
        <div>
            <nav class="nav" style="float: right" >
                <a th:href="@{/}">Login</a>
                <a th:href="@{/collection}">Logout</a>
            </nav>
        </div>

    </div>

</div>