h1 {
    font-size: 2em;
    color: red;
}

.header {
    height: 150px;
}

.header h2 {
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
}

.link_div {
    display: grid;
    grid-template-columns: 70% 25%;
    background-color: blue;
    height: 35px;
    width: 100%;

}

.title {
    background-color: red;
}

.nav {
    height: 100%;
}

.nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
}