h1 {
    font-size: 2em;
    color: red;
}

.header {
    height: 150px;
}

.header h2 {
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
}

.link_div {
    display: grid;
    grid-template-columns: 70% 25%;
    background-color: blue;
    /* height: 35px; */
    width: 100%;
}

.title {
    background-color: red;
}

.nav {
    height: 100%;
}

.nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.main__element {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 10px;
    margin: 20px;

}

.main__div {
    /* display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    */
    display: grid;
    grid-template-rows: 30% 30% 30%;
    height: 160px;
    width: 200px;
    background-color: yellow;
    border: solid black;
    margin: 20px;
    border-radius: 5px;
}

.send__button {
    padding: 10px;
    width: 80%;
    background-color: aqua;
}